<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%#= f.select :item_type_id, @item_types.collect{|p| [p.name, p.id] }, params[:item_type_id] %>
  <select name="item[type]">
    <option value="">Please select</option>
    <option value="Turkish" selected="selected">Turkish</option>
    <option value="American">American</option>
    <option value="French">French</option>
  </select>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
